{% extends 'CumtsAdminBundle::layout.html.twig' %}

{% block pagename %}Events{% endblock %}

{% block content %}

<h1>Event list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Start_at</th>
            <th>End_at</th>
            <th>Summary</th>
            <th>Body</th>
            <th>Event_type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_events_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.slug }}</td>
            <td>{% if entity.startat %}{{ entity.startat|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.endat %}{{ entity.endat|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.summary }}</td>
            <td>{{ entity.body }}</td>
            <td>{{ entity.eventtype }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_events_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_events_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_events_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}
