<h1>IpnOrders</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Notifyversion</th>
            <td>{{ entity.notifyVersion }}</td>
        </tr>
        <tr>
            <th>Verifysign</th>
            <td>{{ entity.verifySign }}</td>
        </tr>
        <tr>
            <th>Testipn</th>
            <td>{{ entity.testIpn }}</td>
        </tr>
        <tr>
            <th>Protectioneligibility</th>
            <td>{{ entity.protectionEligibility }}</td>
        </tr>
        <tr>
            <th>Charset</th>
            <td>{{ entity.charset }}</td>
        </tr>
        <tr>
            <th>Btnid</th>
            <td>{{ entity.btnId }}</td>
        </tr>
        <tr>
            <th>Addresscity</th>
            <td>{{ entity.addressCity }}</td>
        </tr>
        <tr>
            <th>Addresscountry</th>
            <td>{{ entity.addressCountry }}</td>
        </tr>
        <tr>
            <th>Addresscountrycode</th>
            <td>{{ entity.addressCountryCode }}</td>
        </tr>
        <tr>
            <th>Addressname</th>
            <td>{{ entity.addressName }}</td>
        </tr>
        <tr>
            <th>Addressstate</th>
            <td>{{ entity.addressState }}</td>
        </tr>
        <tr>
            <th>Addressstatus</th>
            <td>{{ entity.addressStatus }}</td>
        </tr>
        <tr>
            <th>Addressstreet</th>
            <td>{{ entity.addressStreet }}</td>
        </tr>
        <tr>
            <th>Addresszip</th>
            <td>{{ entity.addressZip }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstName }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastName }}</td>
        </tr>
        <tr>
            <th>Payerbusinessname</th>
            <td>{{ entity.payerBusinessName }}</td>
        </tr>
        <tr>
            <th>Payeremail</th>
            <td>{{ entity.payerEmail }}</td>
        </tr>
        <tr>
            <th>Payerid</th>
            <td>{{ entity.payerId }}</td>
        </tr>
        <tr>
            <th>Payerstatus</th>
            <td>{{ entity.payerStatus }}</td>
        </tr>
        <tr>
            <th>Contactphone</th>
            <td>{{ entity.contactPhone }}</td>
        </tr>
        <tr>
            <th>Residencecountry</th>
            <td>{{ entity.residenceCountry }}</td>
        </tr>
        <tr>
            <th>Business</th>
            <td>{{ entity.business }}</td>
        </tr>
        <tr>
            <th>Receiveremail</th>
            <td>{{ entity.receiverEmail }}</td>
        </tr>
        <tr>
            <th>Receiverid</th>
            <td>{{ entity.receiverId }}</td>
        </tr>
        <tr>
            <th>Custom</th>
            <td>{{ entity.custom }}</td>
        </tr>
        <tr>
            <th>Invoice</th>
            <td>{{ entity.invoice }}</td>
        </tr>
        <tr>
            <th>Memo</th>
            <td>{{ entity.memo }}</td>
        </tr>
        <tr>
            <th>Tax</th>
            <td>{{ entity.tax }}</td>
        </tr>
        <tr>
            <th>Authid</th>
            <td>{{ entity.authId }}</td>
        </tr>
        <tr>
            <th>Authexp</th>
            <td>{{ entity.authExp }}</td>
        </tr>
        <tr>
            <th>Authamount</th>
            <td>{{ entity.authAmount }}</td>
        </tr>
        <tr>
            <th>Authstatus</th>
            <td>{{ entity.authStatus }}</td>
        </tr>
        <tr>
            <th>Numcartitems</th>
            <td>{{ entity.numCartItems }}</td>
        </tr>
        <tr>
            <th>Parenttxnid</th>
            <td>{{ entity.parentTxnId }}</td>
        </tr>
        <tr>
            <th>Paymentdate</th>
            <td>{{ entity.paymentDate }}</td>
        </tr>
        <tr>
            <th>Paymentstatus</th>
            <td>{{ entity.paymentStatus }}</td>
        </tr>
        <tr>
            <th>Paymenttype</th>
            <td>{{ entity.paymentType }}</td>
        </tr>
        <tr>
            <th>Pendingreason</th>
            <td>{{ entity.pendingReason }}</td>
        </tr>
        <tr>
            <th>Reasoncode</th>
            <td>{{ entity.reasonCode }}</td>
        </tr>
        <tr>
            <th>Remainingsettle</th>
            <td>{{ entity.remainingSettle }}</td>
        </tr>
        <tr>
            <th>Shippingmethod</th>
            <td>{{ entity.shippingMethod }}</td>
        </tr>
        <tr>
            <th>Shipping</th>
            <td>{{ entity.shipping }}</td>
        </tr>
        <tr>
            <th>Transactionentity</th>
            <td>{{ entity.transactionEntity }}</td>
        </tr>
        <tr>
            <th>Txnid</th>
            <td>{{ entity.txnId }}</td>
        </tr>
        <tr>
            <th>Txntype</th>
            <td>{{ entity.txnType }}</td>
        </tr>
        <tr>
            <th>Exchangerate</th>
            <td>{{ entity.exchangeRate }}</td>
        </tr>
        <tr>
            <th>Mccurrency</th>
            <td>{{ entity.mcCurrency }}</td>
        </tr>
        <tr>
            <th>Mcfee</th>
            <td>{{ entity.mcFee }}</td>
        </tr>
        <tr>
            <th>Mcgross</th>
            <td>{{ entity.mcGross }}</td>
        </tr>
        <tr>
            <th>Mchandling</th>
            <td>{{ entity.mcHandling }}</td>
        </tr>
        <tr>
            <th>Mcshipping</th>
            <td>{{ entity.mcShipping }}</td>
        </tr>
        <tr>
            <th>Paymentfee</th>
            <td>{{ entity.paymentFee }}</td>
        </tr>
        <tr>
            <th>Paymentgross</th>
            <td>{{ entity.paymentGross }}</td>
        </tr>
        <tr>
            <th>Settleamount</th>
            <td>{{ entity.settleAmount }}</td>
        </tr>
        <tr>
            <th>Settlecurrency</th>
            <td>{{ entity.settleCurrency }}</td>
        </tr>
        <tr>
            <th>Auctionbuyerid</th>
            <td>{{ entity.auctionBuyerId }}</td>
        </tr>
        <tr>
            <th>Auctionclosingdate</th>
            <td>{{ entity.auctionClosingDate }}</td>
        </tr>
        <tr>
            <th>Auctionmultiitem</th>
            <td>{{ entity.auctionMultiItem }}</td>
        </tr>
        <tr>
            <th>Forauction</th>
            <td>{{ entity.forAuction }}</td>
        </tr>
        <tr>
            <th>Subscrdate</th>
            <td>{{ entity.subscrDate }}</td>
        </tr>
        <tr>
            <th>Subscreffective</th>
            <td>{{ entity.subscrEffective }}</td>
        </tr>
        <tr>
            <th>Period1</th>
            <td>{{ entity.period1 }}</td>
        </tr>
        <tr>
            <th>Period2</th>
            <td>{{ entity.period2 }}</td>
        </tr>
        <tr>
            <th>Period3</th>
            <td>{{ entity.period3 }}</td>
        </tr>
        <tr>
            <th>Amount1</th>
            <td>{{ entity.amount1 }}</td>
        </tr>
        <tr>
            <th>Amount2</th>
            <td>{{ entity.amount2 }}</td>
        </tr>
        <tr>
            <th>Amount3</th>
            <td>{{ entity.amount3 }}</td>
        </tr>
        <tr>
            <th>Mcamount1</th>
            <td>{{ entity.mcAmount1 }}</td>
        </tr>
        <tr>
            <th>Mcamount2</th>
            <td>{{ entity.mcAmount2 }}</td>
        </tr>
        <tr>
            <th>Mcamount3</th>
            <td>{{ entity.mcAmount3 }}</td>
        </tr>
        <tr>
            <th>Recurring</th>
            <td>{{ entity.recurring }}</td>
        </tr>
        <tr>
            <th>Reattempt</th>
            <td>{{ entity.reattempt }}</td>
        </tr>
        <tr>
            <th>Retryat</th>
            <td>{{ entity.retryAt }}</td>
        </tr>
        <tr>
            <th>Recurtimes</th>
            <td>{{ entity.recurTimes }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Subscrid</th>
            <td>{{ entity.subscrId }}</td>
        </tr>
        <tr>
            <th>Caseid</th>
            <td>{{ entity.caseId }}</td>
        </tr>
        <tr>
            <th>Casetype</th>
            <td>{{ entity.caseType }}</td>
        </tr>
        <tr>
            <th>Casecreationdate</th>
            <td>{{ entity.caseCreationDate }}</td>
        </tr>
        <tr>
            <th>Orderstatus</th>
            <td>{{ entity.orderStatus }}</td>
        </tr>
        <tr>
            <th>Discount</th>
            <td>{{ entity.discount }}</td>
        </tr>
        <tr>
            <th>Shippingdiscount</th>
            <td>{{ entity.shippingDiscount }}</td>
        </tr>
        <tr>
            <th>Ipntrackid</th>
            <td>{{ entity.ipnTrackId }}</td>
        </tr>
        <tr>
            <th>Transactionsubject</th>
            <td>{{ entity.transactionSubject }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('ipnorders') }}">
            Back to the list
        </a>
    </li>
</ul>
