{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Events - {{ entity.title }}{% endblock %}

{% block content %}
<h1>{{ entity.title }}</h1>

{% if entity.image %}
<a href="{{ image_url(entity.image, 1024, 768) }}" class="fancybox">
    {{ render_image(entity.image, 300, 200, false, {class: 'item_image'}) }}
</a>
{% endif %}

<p>
    {{ entity.startat|date('Y-m-d H:i:s') }} to
   {{ entity.endat|date('Y-m-d H:i:s') }}
</p>

{{ entity.body | raw}}

{% if entity.eventType == 'show' %}
    <h2>Cast &amp; Crew</h2>
    {% if entity.getCast() | length > 0 %}
        <div class="role_list">
            <h3>Cast</h3>
            <dl>
            {% for r in entity.getCast() %}
                    <dt>{{ r.role }}</dt>
                    <dd>{{ r.name }}</dd>
            {% endfor %}
            </dl>
        </div>
    {% endif %}
    {% if entity.getOrchestra() | length > 0 %}
        <div class="role_list">
            <h3>Band</h3>
            <dl>
                {% for r in entity.getOrchestra() %}
                    <dt>{{ r.role }}</dt>
                    <dd>{{ r.name }}</dd>
                {% endfor %}
            </dl>
        </div>
    {% endif %}
    {% if entity.getProductionTeam() | length > 0 %}
        <div class="role_list">
            <h3>Production Team</h3>
            <dl>
                {% for r in entity.getProductionTeam() %}
                    <dt>{{ r.role }}</dt>
                    <dd>{{ r.name }}</dd>
                {% endfor %}
            </dl>
        </div>
    {% endif %}
    <div class="clear"></div>
{% endif %}

<p>
    <a href="{{ path('CumtsMainBundle_events') }}">
        More shows
    </a>
</p>

{% endblock %}
