{% if entity.isArchived() %}{% set current_section='events_archive' %}
{% else %} {% set current_section='events' %} {% endif %}
{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Events - {{ entity.title }}{% endblock %}

{% block content %}
<h1>{{ entity.title }}
{% if entity.author is defined and entity.author %}<small> - {{ entity.author }}</small>{% endif %}
</h1>

{% if entity.image %}
<a href="{{ image_url(entity.image, 1024, 768) }}" class="fancybox">
    {{ render_image(entity.image, 300, 200, false, {class: 'item_image'}) }}
</a>
{% endif %}

<p><strong>
{% if entity.venue %}{{ entity.venue }}, {% endif %}
{% if entity.humanDate %}{{ entity.humanDate }}
{% else %}{{ entity.startAt | date('l j F Y \\a\\t g:i a') }}{% endif %}
</strong>
</p>

{{ entity.body | raw}}

{% if entity.ticketUrl and not entity.isArchived() %}<p><a href="{{ entity.ticketUrl}}" target="_blank" rel="ext">Buy Tickets</a></p>{% endif %}

{% if entity.photos is defined and entity.photos | length > 0 %}
<h2>Photos</h2>
<ul id="photo_list">
{% for photo in entity.photos %}
<li><a href="{{ image_url(photo.image) }}" rel="photo_gallery_{{ entity.id }}" class="fancybox">{{ render_image(photo.image, 135, 135, true) }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if entity.eventType == 'show' %}
    <h2>Cast &amp; Crew</h2>
    {% if entity.getCast() | length > 0 %}
        <div class="role_list">
            <h3>Cast</h3>
            <dl>
            {% for r in entity.getCast() %}
                    <dt>{{ r.role }}</dt>
                    <dd>{{ r.name }}</dd>
            {% endfor %}
            </dl>
        </div>
    {% endif %}
    {% if entity.getOrchestra() | length > 0 %}
        <div class="role_list">
            <h3>Band</h3>
            <dl>
                {% for r in entity.getOrchestra() %}
                    <dt>{{ r.role }}</dt>
                    <dd>{{ r.name }}</dd>
                {% endfor %}
            </dl>
        </div>
    {% endif %}
    {% if entity.getProductionTeam() | length > 0 %}
        <div class="role_list">
            <h3>Production Team</h3>
            <dl>
                {% for r in entity.getProductionTeam() %}
                    <dt>{{ r.role }}</dt>
                    <dd>{{ r.name }}</dd>
                {% endfor %}
            </dl>
        </div>
    {% endif %}
    <div class="clear"></div>
{% endif %}

<h2>{% if not entity.isArchived() %}Other {% endif %}Upcoming Events</h2>
{% render 'CumtsMainBundle:Event:otherEvents' with {id: entity.id} %}

{% endblock %}
