{% extends 'CumtsAdminBundle::layout.html.twig' %}

{% block pagename %}Shows{% endblock %}

{% block content %}

<h1>Photos for {{ entity.title }}</h1>

<ul id="photo_list">
{% for photo in entity.photos %}
<li>
<a href="{{ image_url(photo.image) }}" class="fancybox">{{ render_image(photo.image, 200, 200, true) }}</a><br />
<a href="#" class="delete_photo" rel="{{ photo.id }}">Delete</a>
</li>
{% endfor %}
</ul>

<div class="clear"></div>

<div id="upload_button"></div>

<script>
$(function() {
    $('#upload_button').uploadify({
        swf  : '{{ asset('bundles/hoyesimagemanager/uploadify.swf') }}',
        uploader    : '{{ path('hoyes_image_manager_post') }}',
        cancelImg : '{{ asset('bundles/hoyesimagemanager/images/cancel.png') }}',
        formData   : {
            _uploadify : true,
            _sessionid : '{{ session_id }}',
            width: 250,
            height: 200
        },
        fileTypeDesc: 'All Images',
        fileTypeExts: '*.png;*.jpg;*.jpeg;*.gif;*.JPG',
        buttonText: 'Select Files',
        multi: true,
        auto : true,
        debug: false,
        onUploadSuccess  : function(file, data) {
            response = $.parseJSON(data);
            var img = $('<img/>').attr('src', response.url)
                        .attr('width', response.width).attr('height', response.height);
            var anchor = $('<a/>').attr('href', response.full_url).html(img);
            var li = $('<li/>')
            li.append(anchor);
            $('#photo_list').append(li);
            anchor.fancybox();
            $.ajax('{{ path('admin_photos_add', {id: entity.id}) }}?image_id=' + response.id)
        },
        onUploadError : function(file, code, msg, string) {
        console.log(file, code, msg, string);
        }
    });
    $('.fancybox').fancybox();
    $('.delete_photo').click(function() {
        var id = $(this).attr('rel');
        var self = $(this);
        $.getJSON('{{ path('admin_photos_delete', {id: entity.id}) }}?image_id='+id, function(data) {
            if (data) {
                self.parent().remove();
            }
        });
        return false;
    });
});
</script>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_photos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
