{% extends '::base.html.twig' %}

{% block title %}CUMTS Admin - {% block pagename %}{% endblock%}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/cumtsmain/css/main.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/cumtsadmin/css/admin.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset("bundles/hoyesimagemanager/css/uploadify.css") }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset("bundles/hoyesimagemanager/css/fancybox.css") }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
<div id="wrapper">
<header>
<h1><a href="{{ path('CumtsMainBundle_homepage') }}">
<img src="{{ asset("bundles/cumtsmain/images/logo.png") }}" alt="Cambridge University Musical Theatre Society" />
</a></h1>
<h2>
Admin Site
</h2>
</header>
<nav>
<ul>
    <li><a href="{{ path('CumtsAdminBundle_homepage') }}">Home</a></li>
    <li><a href="{{ path('admin_members') }}">Members</a></li>
    <li><a href="{{ path('admin_content') }}">Content</a></li>
    <li><a href="{{ path('admin_photos') }}">Photos</a></li>
    <li><a href="{{ path('admin_news') }}">News</a></li>
    <li><a href="{{ path('admin_shows') }}">Shows</a></li>
    <li><a href="{{ path('admin_events') }}">Events</a></li>
    <li><a href="{{ path('admin_product') }}">Products</a></li>
</ul>
<div class="clear"></div>
</nav>
<section>
{% block content %}{% endblock %}
</section>
<footer>
Copyright &copy; Cambridge Musical Theatre Society {{ "now"|date("Y") }}.
</footer>
</div>
{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ asset("bundles/hoyesimagemanager/js/jquery.uploadify.min.js") }}"></script>
    <script src="{{ asset("bundles/hoyesimagemanager/js/jquery.fancybox.min.js") }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
 {{ tinymce_init() }}
{% block pagescripts %}
{% endblock %}

{% endblock %}
