{% if pageCount > 1 %}
<div class="pagination">
        <span class="first">
    {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
    {% else %}
                &lt;&lt;
    {% endif %}
        </span>

        <span class="previous">
    {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
    {% else %}
                &lt;
    {% endif %}
        </span>

    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </span>
        {% else %}
            <span class="current">{{ page }}</span>
        {% endif %}

    {% endfor %}

        <span class="last">
    {% if last is defined and current != last %}
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
    {% else %}
        &gt;&gt;
    {% endif %}
        </span>

        <span class="next">
    {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
    {% else %}
        &gt;
    {% endif %}
        </span>

</div>
{% endif %}
