{% set current_section='news' %}
{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}News{% endblock %}

{% block content %}

<h1>News</h1>

{% for entity in entities %}
<div class="news-item">
    <h2><a href="{{ path('CumtsMainBundle_news_show', { 'slug': entity.slug }) }}">{{ entity.headline }}</a></h2>
    <p><em>{% if entity.publishedat %}{{ entity.publishedat|date('j F Y') }}{% endif %}</em></p>
   
    {% if entity.image %}
        <a href="{{ path('CumtsMainBundle_news_show', {'slug': entity.slug}) }}">
            {{ render_image(entity.image, 200, 150, true, {class: 'item_image'}) }}
        </a>
    {% endif %}
    <p>{{ entity.summary | raw }}</p>

    <p>
        <a href="{{ path('CumtsMainBundle_news_show', { 'slug': entity.slug }) }}">Read More &gt;&gt;</a>
    </p>
</div>
{% endfor %}

<div class="clear"></div>

<h2>Upcoming Events</h2>
{% render 'CumtsMainBundle:Event:otherEvents' %}

{% endblock %}
