{% set current_section='news' %}
{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}News - {{ entity.headline }}{% endblock %}

{% block content %}

<h1>{{ entity.headline }}</h1>

{% if entity.image %}
<a href="{{ image_url(entity.image) }}" class="fancybox item_image">{{ render_image(entity.image, 200) }}</a>
{% endif %}

{{ entity.body | raw }}

<p><em>{{ entity.publishedat|date('j F Y') }}</em></p>


<p class="clear">
    <a href="{{ path('CumtsMainBundle_news') }}">
        &lt;&lt; More news
    </a>
</p>

<h2>Upcoming Events</h2>
{% render 'CumtsMainBundle:Event:otherEvents' %}

{% endblock %}
