{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}News - {{ entity.headline }}{% endblock %}

{% block content %}

<h1>{{ entity.headline }}</h1>

{{ entity.body | raw }}

        <tr>
            <th>Published_at</th>
            <td>{{ entity.publishedat|date('Y-m-d H:i:s') }}</td>
        </tr>

<p>
    <a href="{{ path('CumtsMainBundle_news') }}">
        More news
    </a>
</p>

{% endblock %}
