{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Membership{% endblock %}

{% block content %}
<h1>Membership</h1>
<h2>Membership Status</h2>
<p>You are already a member of CUMTS</p>
<table>
<tr>
        <th>Name</th>
        <td>{{ member.firstname }} {{ member.lastname }}</td>
</tr>
<tr>
        <th>College</th>
        <td>{{ member.college }}</td>
</tr>
<tr>
        <th>Membership Type</th>
        <td>{{ member.getMembershipTypeString() }}</td>
</tr>
<tr>
        <th>Membership Start Date</th>
        <td>{{ member.joinedat | date('jS F Y') }}</td>
</tr>
<tr>
        <th>Membership Ends</th>
        <td>{{ member.leavesat | date("Y") }}</td>
</tr>
</table>

<p>
        If any of the details above are incorrect (e.g. your name, college or year of graduation), please send an e-mail to 
        <a href="mailto:membership@cumts.co.uk">membership@cumts.co.uk</a> with the correct details.
</p>
{% endblock %}
