{% extends '::base.html.twig' %}

{% block title %}CUMTS - Cambridge University Musical Theatre Society - {% block pagename %}{% endblock%}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/cumtsmain/css/main.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset("bundles/hoyesimagemanager/css/fancybox.css") }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
<div id="wrapper">
<header>
<h1><a href="{{ path('CumtsMainBundle_homepage') }}">
<img src="{{ asset("bundles/cumtsmain/images/logo.png") }}" alt="Cambridge University Musical Theatre Society" />
</a></h1>
{% render 'CumtsMainBundle:Default:headerImages' %}
</header>
<nav>
<ul>
    {% if current_section is not defined %} {% set current_section = '' %} {% endif %}
    <li><a href="{{ path('CumtsMainBundle_homepage') }}"{% if current_section == 'home'%} class="active"{% endif %}>Home</a></li>
    <li><a href="{{ path('CumtsMainBundle_get_involved') }}"{% if current_section == 'get-involved'%} class="active"{% endif %}>Get Involved</a></li>
    <li><a href="{{ path('CumtsMainBundle_events') }}"{% if current_section == 'events'%} class="active"{% endif %}>Events</a></li>
    <li><a href="{{ path('CumtsMainBundle_events_archive') }}"{% if current_section == 'events_archive'%} class="active"{% endif %}>Past Events</a></li>
    <li><a href="{{ path('CumtsMainBundle_news') }}"{% if current_section == 'news'%} class="active"{% endif %}>News</a></li>
    <li><a href="{{ path('CumtsMainBundle_about') }}"{% if current_section == 'about'%} class="active"{% endif %}>About Us</a></li>
    <li><a href="{{ path('CumtsMainBundle_membership') }}"{% if current_section == 'membership'%} class="active"{% endif %}>Membership</a></li>
</ul>
<div class="clear"></div>
</nav>
<section>
{% block content %}{% endblock %}
</section>
<footer>
Copyright &copy; Cambridge University Musical Theatre Society {{ "now"|date("Y") }}. 
<a href="{{ path('CumtsMainBundle_contact') }}">Contact Us</a> |
<a href="{{ path('CumtsMainBundle_logo') }}">Logo</a>
</footer>
</div>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37509749-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ asset("bundles/hoyesimagemanager/js/jquery.fancybox.min.js") }}"></script>
    <script>
        $(function() {
            $('a.fancybox').fancybox({openEffect: 'elastic', closeEffect: 'elastic'});
        });
    </script>
{% endblock %}
