{% extends 'CumtsAdminBundle::layout.html.twig' %}

{% block pagename %}Shows{% endblock %}

{% block content %}

<h1>Show</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ entity.author }}</td>
        </tr>
        <tr>
            <th>Venue</th>
            <td>{{ entity.venue }}</td>
        </tr>
        <tr>
            <th>Created_at</th>
            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated_at</th>
            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Start_at</th>
            <td>{{ entity.startat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>End_at</th>
            <td>{{ entity.endat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.body }}</td>
        </tr>
        <tr>
            <th>Ticket_url</th>
            <td>{{ entity.ticketurl }}</td>
        </tr>
        <tr>
            <th>Camdram_id</th>
            <td>{{ entity.camdramid }}</td>
        </tr>
        <tr>
            <th>Human-readable date</th>
            <td>{{ entity.humanDate }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{% if entity.image %}{{ render_image(entity.image, 250, 200) }}{% endif %}</td>
        </tr>
    </tbody>
</table>

<h2>Performances</h2>
<ul>
{% for p in entity.performances %}
<li>{{ p.startat | date("r") }}</li>
{% endfor %}
</ul>

<h2>Roles</h2>
<h3>Cast</h3>
<table class="record_properties">
    <tbody>
{% for r in entity.getCast() %}
        <tr>
            <th>{{ r.role }}</th>
            <td>{{ r.name }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<h3>Orchestra</h3>
<table class="record_properties">
    <tbody>
{% for r in entity.getOrchestra() %}
        <tr>
            <th>{{ r.role }}</th>
            <td>{{ r.name }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<h3>Production Team</h3>
<table class="record_properties">
    <tbody>
{% for r in entity.getProductionTeam() %}
        <tr>
            <th>{{ r.role }}</th>
            <td>{{ r.name }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_shows') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_shows_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_shows_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
